{{>layout/header}}
<body>

	<nav class="navbar navbar-inverse">
		<div class="container">
			<div class="navbar-header">
				<a class="navbar-brand" href="#">Spring Boot</a>
			</div>
		</div>
	</nav>

	<div class="container">

		<div class="starter-template">
			<h1>Spring Boot Web Mustache Example</h1>
			<h2>
				{{message}}
			</h2>
		</div>
		
		<div id="person" />
		

	</div>
	<!-- /.container -->

	<script type="text/javascript" src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<script type="text/javascript">
		$( document ).ready(function() {
		
			var template = {{#_embedded}} {{#person}} * {{fullName}} {{nickName}} {{email}} {{/person}} {{/_embedded}};

          	var data = {
						  "_embedded": {
						    "person": [
						      {
						        "fullName": "Alexandre",
						        "email": "alexandre.msl@gmail.com",
						        "nickName": "ale",
						        "password": "teste",
						        "_links": {
						          "self": {
						            "href": "http://localhost:8080/person/1"
						          },
						          "person": {
						            "href": "http://localhost:8080/person/1"
						          },
						          "frinds": {
						            "href": "http://localhost:8080/person/1/frinds"
						          },
						          "frindsRel": {
						            "href": "http://localhost:8080/person/1/frindsRel"
						          },
						          "posts": {
						            "href": "http://localhost:8080/person/1/posts"
						          }
						        }
						      }
						    ]
						  },
						  "_links": {
						    "self": {
						      "href": "http://localhost:8080/person{?page,size,sort}",
						      "templated": true
						    },
						    "profile": {
						      "href": "http://localhost:8080/profile/person"
						    },
						    "search": {
						      "href": "http://localhost:8080/person/search"
						    }
						  },
						  "page": {
						    "size": 20,
						    "totalElements": 1,
						    "totalPages": 1,
						    "number": 0
						  }
						}
          	
          	
			$('#person').html(Mustache.to_html(template, data));
		});	
	<script/>
</body>
{{>layout/footer}}